{% extends 'base.html.twig' %}

{% block title %}Edit LignesCommande{% endblock %}

{% block body %}
    <h1>Edit LignesCommande</h1>

    {{ include('lignes_commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lignes_commande_index') }}">back to list</a>

    {{ include('lignes_commande/_delete_form.html.twig') }}
{% endblock %}
