{% extends 'base.html.twig' %}

{% block title %}Cozy Vibes{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Site Cozy Vibes</h1>
                <p>Bienvenue dans notre boutique Cozy Vibes</p>
            </div>
            {% for category in categories %}
                {% if category.parent is null %}
                    <div class="col-12">
                        <h2>{{ category.nom }}</h2>
                    </div>
                    {% for subcategory in category.categories %}
                        <div class="col-3">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h3 class="card-title">{{ subcategory.nom }}</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="{{ path('app_categorie_list', {Slug: subcategory.Slug}) }}" class="btn btn-primary">Voir les produits</a>
                                </div>
                             </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock %}
