.logo {
  width: 180px; 
  height: 180px; 
}




.navbar-custom {
  background-color: #9EC4DB;
}


.navbar-nav .nav-item {
margin-right: 10px;
}

.navbar-nav .nav-link {
transition: color 0.3s ease; 
}

.navbar-nav .nav-link:hover {
color: #555; 
}


#panier-link .fa-shopping-cart {
font-size: 1.2rem; 

}

#panier-link .text {
font-size: 1rem;
font-weight: normal; 
} 


.btn-custom {
  background-color: #ed7d68; 
  color: #FFFFFF; 
  border: 2px solid #ed7d68; 
}



.btn-custom:hover {
  background-color: #99bada; 
}





.input-group .btn-custom {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px; 
}



footer {
  background-color: #9EC4DB;;
  color: #fff;
  padding: 50px 0;
}

footer h5 {
  margin-bottom: 20px;
  color: #ed7d68; 
  font-weight: bold;
}

footer p {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;

 
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #fff;

}


.copyright-text {
  text-align: center;
  color: #fff;
}



 

.social-links {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  list-style: none; 
 
}


.social-links li {
  list-style: none; 
}

.social-links li {
  margin: 0 30px; 
}

.social-links a {
  color: #fff; 
  text-decoration: none; 
}

.social-links a:hover {
  color: #ed7d68; 

}



.containerr{
  background-color: #ed7d68;
}
.containerr .row .col {
  margin: 20px 0; 
}

.containerr .row .col a {
  color: #fdf4f4; 
  text-decoration: none; 
  font-size: 20px ;
}



.banner img {
  width: 100%;
  height: 60vh; 
  object-fit: cover; 
  display: block;
}


body {
  overflow-x: hidden; 
}



form h1 {
  text-align: center; 
}


.btn-primary{
  background-color: #ed7d68; 
  margin: auto; 
  display: block;
  border:  #ed7d68;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #9EC4DB; 
}

.centered-text {
  text-align: center;
  margin-top: 20 px;
}


.styled-input {
  margin-bottom: 30px;
  background-color: #F0F0F0;

}

.styled-label{
  margin-bottom: 15px;
}

.styled-checkbox {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-right: 10px; 

}

.center{
  text-align: center;
}

.btn-action{
  background-color: #9EC4DB;
}


.btn-action:hover {
  background-color: #9EC4DB;
}

.product-image {
  height: 250px;
}

.produit-img {
  height: 250px;
  object-fit: cover;
}

.card-body{
  background: linear-gradient(to bottom, rgba(158, 196, 219, 0) 50%, #9EC4DB 100%);
}




























.card {
  border: none; 
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease;
}






.card2:hover {
  box-shadow: 0 8px 16px #ed7d68; 
}

.categorie {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.categorie::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  opacity: 0;
  transition: opacity 0.4s;
}

.categorie:hover::before {
  opacity: 1; 
}

.categorie .card-body {
  position: relative;
  z-index: 1;
}

.sous-cat {
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 2;
}

.categorie:hover .sous-cat {
  display: block; 

}












