{% extends 'base.html.twig' %}

{% block title %}Hello EndCommandeController!{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <h1> Votre Commande a bien été enregistré ! </h1>

            <a href="{{ path('app_home') }}">Retour à la page d'accueil</a>
        </div>
    </main>

{% endblock %}
